#content {
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: 120vh;
    margin: 10% auto;
    box-shadow: 2px 2px 6px 6px #aaaaaa;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 414px;
    width: 650px;
    border: 1px solid;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 414px;
    width:650px;
}

#address {
    padding-top: 5%;
    float: left;
}