#container {
    
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 215, 215);
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

form h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 7%;
}

form input {
    border: 0;
    padding: 2%;
    margin-top: 2%;
}

form textarea {
    border: 0;
    padding: 2%;
    margin-top: 2%;
}