#container {
    margin: 10% auto;

}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 215, 215);
    width: 40%;
    margin: auto;
    border-radius: 10px;
}

form h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3%;
    margin-top: 2%;
    text-align: center;
}

form input {
    border: 1px solid;
    padding: 2%;
    margin: 2% 13%;
    border-radius: 7px;
}

form textarea {
    border: 1px solid;
    padding: 2%;
    margin: 2% 13%;
    border-radius: 7px;
}

#submit {
    width: 30%;
    height: 35px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    margin: 2% auto 7% 13% ;
}