* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: url('assets/images/background.jpg') 0px / cover;
}

/*Styling for heading and navigation*/
#nav {
    background-color: black;
    color: #fff;
    width: 100%;
}

#nav ul {
    list-style-type: none;
    display: flex;
}

#nav ul li {
    font-size:28px;
    padding: 1%;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    flex-direction: row;
}

#nav ul li a:hover {
    background: #fff;
    color: black;
    border-radius: 25px;
    border-spacing: 5px;
}

#login-link {
    color: #fff;
    float: right;
    padding: 0.45%;
    font-size:  40px;
    text-decoration: none;
}
#login-link:hover {
    color: black;
    background-color: #fff;
}

.active {
    text-decoration:wavy;
    color: #fff;
}

/*Class to make targeted element invisible*/
.hidden {
    display: none;
}

/*Styling for main game including questions and score counter*/

.container {
    height: 100%;
    background-color: #fff;
    width: 70%;
    margin: 20% auto;
    box-shadow: 5px 5px 5px 5px #4b4b4b;
    padding-bottom: 5%;
}

#score {
    float: right;
    font-size: 20px;
    padding-top: 2%;
    padding-right: 2%;
}

#scoreText {
    font-size: 30px;
    padding-right: 0.5%;
}

#questions {
    margin-bottom: 10%;
    margin-top: 1%;
}

#question {
    padding-top: 5%;
    font-size: 40px;
    text-align: center;
}

.answers-container {
    padding-top: 30%;
}

.answers p {
    background-color: black;
    color: #fff;
    margin: 2%;
    border: 1px;
    border-radius: 4px;
    padding: 2%;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(90, 90, 90, 0.6);
    transition: transform 150ms;
    transform: scale(1.01);
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/*Styling for footer including link to contact page and return to top button*/

#return-to-top {
    color: rgb(107, 105, 105);
    margin-left: 92%;
    font-size: 60px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 90%;
}

footer {
    width: 100%;
    background-color: black;
}

footer ul {
    margin: auto;
    display: flex;
}

footer ul li {
    flex-direction: row;
    padding: 1% 2%;
}

footer ul li a {
    font-size: 50px;
    color: #fff;
}

#contact {
    float: right;
    margin-top: -55px;
    margin-right: 13%;
    font-size: 23px;
    text-decoration: none;
    color: #fff;
}

button {
    text-align: center;
}