* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('assets/images/background.jpg') 0px / cover;
}

/*Styling for heading and navigation*/
#nav {
    background-color: black;
    color: #fff;
    width: 100%;
}

#nav ul {
    list-style-type: none;
    display: flex;
}

#nav ul li {
    font-size:28px;
    padding: 1%;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    flex-direction: row;
}

#nav ul li a:hover {
    background: #fff;
    color: black;
    border-radius: 25px;
    border-spacing: 5px;
}

#login-link {
    color: #fff;
    float: right;
    margin-left: 70%;
    padding: 1%;
    font-size:  40px;
    text-decoration: none;
}
#login-link:hover {
    color: black;
    background-color: #fff;
}

.active {
    text-decoration:wavy;
    color: #fff;
}

/*Class to make targeted element invisible*/
.hidden {
    display: none;
}