* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('assets/images/background.jpg') 0px / cover;
}

/*Styling for heading and navigation*/
#nav {
    background-color: black;
    color: #fff;
    width: 100%;
}

#nav ul {
    list-style-type: none;
    display: flex;
}

#nav ul li {
    font-size:28px;
    padding: 1%;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    flex-direction: row;
}

#nav ul li a:hover {
    background: #fff;
    color: black;
    border-radius: 25px;
    border-spacing: 5px;
}

#login-link {
    color: #fff;
    float: right;
    margin-left: 70%;
    padding: 1%;
    font-size:  40px;
    text-decoration: none;
}
#login-link:hover {
    color: black;
    background-color: #fff;
}

.active {
    text-decoration:wavy;
    color: #fff;
}

/*Class to make targeted element invisible*/
.hidden {
    display: none;
}

#content {
    background-color: #fff;
    height: 1000px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

/*Styling for footer including link to contact page and return to top button*/

#return-to-top {
    color: rgb(107, 105, 105);
    margin-left: 95%;
    font-size: 60px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 90%;
  }

  footer {
      width: 100%;
      background-color: black;
  }

  footer ul {
      margin: auto;
      display: flex;
  }

  footer ul li {
    flex-direction: row;
    padding: 1% 2%;
    
  }

  footer ul li a {
      font-size: 50px;
      color: #fff;
      
  }